.containerA{ 
    width:100%;
    height:100vh;
    background-image:url("../img/logoopacity.png"); 
    background-size:cover;
    padding-left:30px;
    padding-right:30px;
}      
.containerB{
    height:100vh;
    width:100%;
}
.containerB .col{
    background:rgb(33, 33, 33); 
} 
header{
    height:50px;
    position:relative;
    top:20px;
}
.bg-light{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} 
#logo{
    width:200px;
    height: 100%;
}
#presentation{
    position:relative;
    top:130px; 
} 
.bg-light{
    width:400px;
} 
.Card{ 
    background-color: rgb(224, 151, 57);
}